@{
    ViewBag.Title = "AesSifreleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genetik Kod Şifreleme ve Çözme</title>

    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

    <!-- Custom CSS -->
    @Styles.Render("~/CSS/style.css")
    @Styles.Render("~/CSS/main.css")

    <style>
        body {
            background-color: #f8f9fa;
            margin-bottom: 60px; /* Sayfanın altındaki boşluğu artırmak için */
        }

        header {
            background-color: transparent;
            color: white;
            padding: 10px;
            text-align: center;
        }

            header h1 {
                font-family: 'Century Schoolbook', Arial;
                font-size: 70px; /* Yazı boyutunu artırmak için */
                margin-bottom: 0; /* Yazı altındaki boşluğu kapatmak için */
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            }

        .main-image img {
            max-width: 100%;
            height: auto;
        }

        .butonlar {
            text-align: center;
            margin: 20px;
        }

        .btn-primary {
            background-color: #007bff;
            color: white;
            margin: 10px; /* Butonların arasındaki boşluğu artırmak için */
            padding: 15px 30px; /* Buton boyutlarını artırmak için */
            font-size: 18px; /* Buton yazı boyutunu artırmak için */
        }

        footer {
            background-color: black;
            color: white;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
    <header>
        <h1>UGenEncrypt</h1>
    </header>

    <div class="butonlar">
        <a href="@Url.Action("AesSifreleme")" class="btn btn-primary">AES ŞİFRELEME</a>
        <br />
        <br />
        <a href="@Url.Action("BurrowsWheelerSifreleme")" class="btn btn-primary">Burrows Wheeler ŞİFRELEME</a>
        <br />
        <br />
        <a href="@Url.Action("KodEkle")" class="btn btn-primary">Kod Ekle</a>
    </div>

    <footer>
        <!-- Sayfanın altındaki içerik -->
    </footer>
</body>

</html>
