<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genetik Kod Şifreleme ve Çözme</title>

    <!-- Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom CSS -->
    @Styles.Render("~/CSS/style.css")
    @Styles.Render("~/CSS/main.css")


    <style>
        body {
            background-color: #f8f9fa;
        }

        header {
            background-color: black;
            color: white;
            padding: 10px;
            text-align: center;
        }

        .main-image img {
            max-width: 100%;
            height: auto;
        }

        .butonlar {
            text-align: center;
            margin: 20px;
        }

        .btn-primary {
            background-color: #007bff;
            color: white;
            margin: 5px;
        }

        footer {
            background-color: black;
            color: white;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
    <header>
        <h1>Genomik Şifreleme</h1>
        <!-- Eğer bir resim kullanmak isterseniz:
        <div class="main-image">
            <img src="~/IMAGE/gif.gif" alt="Genomik Veri Animasyonu">
        </div>
        -->
    </header>

    <div class="butonlar">
        <a href="@Url.Action("AesSifreleme")" class="btn btn-primary">AES ŞİFRELEME</a>
        <br />
        <br />
        <a href="@Url.Action("BurrowsWheelerSifreleme")" class="btn btn-primary">Burrows Wheeler ŞİFRELEME</a>
        <br />
        <br />
        <a href="@Url.Action("KodEkle")" class="btn btn-primary">Kod Ekle</a>
    </div>

  

    <!-- Bootstrap JS ve jQuery (isteğe bağlı, kullanmıyorsanız silin) -->
    
</body>

</html>
