<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Karakter seti ve görüntüleme özellikleri tanımlanıyor -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Sayfa başlığı, @ViewBag.Title ile dinamik olarak belirleniyor -->
    <title>@ViewBag.Title - Genomic Encryption Uygulaması</title>

    <!-- CSS dosyalarını sayfaya eklemek için kullanılıyor -->
    @Styles.Render("~/Content/css")

    <!-- Modernizr script'i sayfaya ekleniyor -->
    @Scripts.Render("~/bundles/modernizr")

    <style>
        /* Gezinme çubuğu öğeleri için özel CSS */
        .navbar {
            background-color: #343a40; /* Koyu gri arkaplan rengi */
        }

        .navbar-brand, .nav-link {
            color: #17a2b8 !important; /* Mavi renk */
        }

        .navbar-toggler {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Düğmeye hafif bir gölge eklenmiş */
        }

        /* Sayfa içeriğini sınırlayan konteyner */
        .container.body-content {
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        /* Footer bölümü için özel CSS */
        footer {
            text-align: center;
            padding: 0px;
            color: #ffffff; /* Beyaz renk */
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <!-- Bootstrap gezinme çubuğu -->
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <!-- Uygulama adı ve ana sayfaya yönlendiren bağlantı -->
            @Html.ActionLink("Ana Sayfa", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            <!-- Küçük ekranlarda gezinme çubuğunu açıp kapatmayı sağlayan düğme -->
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Gezintiyi aç/kapat" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Gezinme çubuğu öğeleri -->
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <!-- Ana sayfa, Hakkında, İletişim ve Proje sayfalarına yönlendiren bağlantılar -->
                    <li>@Html.ActionLink("Hakkımızda", "Index", "About", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("İletişim", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Proje", "Project", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                <!-- Kullanıcı girişi (login) bağlantısı -->
                <ul class="navbar-nav">
                    <li>@Html.ActionLink("Giriş", "Login", "User", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Sayfa içeriğini sınırlayan bir konteyner -->
    <div class="container body-content">
        <!-- Sayfa içeriğini temsil eden bölüm -->
        @RenderBody()

        <!-- Yatay bir çizgi ile ayrılan footer bölümü -->
        <hr />

        <!-- Sayfa altında yer alan bilgi çubuğu -->

    </div>

    <!-- jQuery ve Bootstrap gibi harici JavaScript kütüphanelerini sayfaya ekler -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Sayfanın herhangi bir yerinde özelleştirilmiş script bölümleri eklemek için kullanılır -->
    @RenderSection("scripts", required: false)
    <footer>
        <p>&copy; @DateTime.Now.Year - Genomic Encryption Project</p>
    </footer>
</body>

</html>
